{% extends "base.html" %}
    {% block title %}
      {{ title }}  
    {% endblock %} 
    {% block content %}
      <div class="container py-5 col-6">
        <div class="container mt-3">
          <h2>Законы</h2>
          <div class="card">
            <div class="list-group">
                {% for law in laws %}
                {% if forloop.first %}
                  <div>
                    <a href="{% url 'catalog:law_detail' forloop.counter0 %}" class="list-group-item list-group-item-success">{{ law.title }} ({{ law.year }})</a>
                  </div>
                  <div><a href='{% url "catalog:edit" law.id %}'>Измениt'</a><div>
                {% elif forloop.last %}
                  <div>
                    <a href="{% url 'catalog:law_detail' forloop.counter0 %}" class="list-group-item list-group-item-info">{{ law.title }}  ({{ law.year }})</a>
                  </div>
                  <div><a href='{% url "catalog:edit" law.id %}'>Измениt'</a><div>
                {% else %}
                  <div>
                    <a href="{% url 'catalog:law_detail' forloop.counter0 %}" class="list-group-item list-group-item-light">{{ law.title }}  ({{ law.year }})</a>
                  </div>
                  <div><a href='{% url "catalog:edit" law.id %}'>Измениt'</a><div>
                {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}