{% extends 'base.html' %}
{% block title %}{{ law.title }}{% endblock %}
{% block content %}
<div class="container py-5 col-6">
  <div class="container mt-3">
    <div class="card">
      <div class="card-header">
        {{ law.title}}
        <br>
        <small>{{ law.section }}</small>
      </div>
      <div class="card-body">{{ law.text }}</div>
      <div class="card-footer">
        {{ law.author }}<br> {{ law.year }} <br>{{ law.country }}
      </div>
    </div>
  </div>
</div>
{% endblock %}